html,body{overflow-x:hidden;height:100%;width:100%;margin:0;padding:0;}
body{font:14px "helvetica neue",arial,helvetica,freesans,"libaration sans","numbus sans l",sans-serif !important;color:#fff;}
#map{position:absolute;padding:0;top:0;left:0;right:0;bottom:0;}#map .container{max-width:100% !important;}
